consumer_key =[twitter consumer key]
consumer_secret =[twitter consumer secret]
access_token =[twitter access token]
access_token_secret =[twitter access secret]
connection_string =[mongodb connection str]
username =[twitter username]